<h1 align=center>Python Strings</h1>

<h1>String Operations</h1>

<p><strong>Welcome!</strong> This notebook will teach you about the string operations in the Python Programming Language. By the end of this notebook, you'll know the basics string operations in Python, including indexing, escape sequences and operations.</p>

<h2>Table of Contents</h2>
<div class="alert alert-block alert-info" style="margin-top: 20px">
    <ul>
        <li>
            <a href="#strings">What are Strings?</a>
        </li>
        <li>
            <a href="#index">Indexing</a>
            <ul>
                <li><a href="neg">Negative Indexing</a></li>
                <li><a href="slice">Slicing</a></li>
                <li><a href="stride">Stride</a></li>
                <li><a href="concat">Concatenate Strings</a></li>
            </ul>
        </li>
        <li>
            <a href="#escape">Escape Sequences</a>
        </li>
        <li>
            <a href="#operations">String Operations</a>
        </li>
        <li>
            <a href="#quiz">Quiz on Strings</a>
        </li>
    </ul>
    <p>
        Estimated time needed: <strong>15 min</strong>
    </p>
</div>

<hr>

<h2 id="strings">What are Strings?</h2>

The following example shows a string contained within 2 quotation marks:

In [13]:
# Use quotation marks for defining string

"Michael Jackson"

'Michael Jackson'

We can also use single quotation marks:

In [14]:
# Use single quotation marks for defining string

'Michael Jackson'

'Michael Jackson'

A string can be a combination of spaces and digits:

In [15]:
# Digitals and spaces in string

'1 2 3 4 5 6 '

'1 2 3 4 5 6 '

A string can also be a combination of special characters :

In [16]:
# Special characters in string

'@#2_#]&*^%$'

'@#2_#]&*^%$'

We can print our string using the print statement:

In [17]:
# Print the string

print("hello!")

hello!

In [18]:
Ne = input("Enter your Name")  # by Default input Funcation will Consider it as a String
print(Ne,type(Ne))

Enter your Name Reddy

Reddy <class 'str'>

We can bind or assign a string to another variable:

In [19]:
# Assign string to variable

Name = "Michael Jackson";
Name

'Michael Jackson'

In [20]:
len(Name)

15

In [21]:
ord('M') # To find the Char number in ASCII or UNICODE

77

In [22]:
ord('m')

109

In [23]:
chr(65) # it used for Find the Order of a Char

'A'

<hr>

<h2 id="index">Indexing</h2>

It is helpful to think of a string as an ordered sequence. Each element in the sequence can be accessed using an index represented by the array of numbers:

<img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%201/Images/StringsIndex.png" width="600" align="center" />

 The first index can be accessed as follows:

<hr/>
<div class="alert alert-success alertsuccess" style="margin-top: 20px">
[Tip]: Because indexing starts at 0, it means the first index is on the index 0.
</div>
<hr/>

In [24]:
# Print the first element in the string

print(Name[0])

M

 We can access index 6:

In [25]:
# Print the element on index 6 in the string

print(Name[6])

l

Moreover, we can access the 13th index:

In [26]:
# Print the element on the 13th index in the string

print(Name[13])

o

<h3 id="neg">Negative Indexing</h3>

 We can also use negative indexing with strings:

<img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%201/Images/StringsNeg.png" width="600" align="center" />

Negative index can help us to count the element from the end of the string.

The last element is given by the index -1:

In [27]:
# Print the last element in the string

print(Name[-1])

n

 The first element can be obtained by  index -15:

In [28]:
# Print the first element in the string

print(Name[-15])

M

In [29]:
Name[-16]

IndexError: string index out of range

We can find the number of characters in a string by using <code>len</code>, short for length:

In [ ]:
# Find the length of string

len("Michael Jackson")

<h3 id="slice">Slicing</h3>

We can obtain multiple characters from a string using slicing, we can obtain the 0 to 4th and 8th to the 12th element:

#####            Variable_Name[Start : end-1] 
<h4 align=center>or</h4> 

#####             Variable_Name[Start : len-1]

<img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%201/Images/StringsSlice.png" width="600" align="center" />

<hr/>
<div class="alert alert-success alertsuccess" style="margin-top: 20px">
[Tip]: When taking the slice, the first number means the index (start at 0), and the second number means the length from the index to the last element you want (start at 1)
</div>
<hr/>

<code>Slice or indexing Has to Start from Left to Right only</code>

In [ ]:
# Take the slice on variable Name with only postive index 0 to index 3

Name[0:4]

In [ ]:
# Take the slice on variable Name with only postive index 8 to index 11

Name[8:12]

In [ ]:
# Take the slice on variable Name with only nagative index -15 to index -11
Name[-15:-11]

In [ ]:
# Take the slice on variable Name with only nagative index -7 to index -2
Name[-7:-2]

In [ ]:
Name[-15:]

In [ ]:
Name[:]

In [ ]:
Name[:15]

In [ ]:
Name[-1:0]

<h3 id="stride">Stride or Extendend Slice</h3>

 We can also  input a stride value as follows, with the '2' indicating that we are selecting every second variable:

$Varable Name [Start:legnth-1:Step]$

# <img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%201/Images/StringsStride.png" width="600" align="center" />

In [ ]:
# Get every second element. The elments on index 1, 3, 5 ...

Name[::2]

In [ ]:
Name[::3]

In [ ]:
Name[::4]

In [ ]:
# String in a Reverser Order
Name[::-1]

In [ ]:
Name[::14]

In [ ]:
Name[12::] # By default Step is 1

In [ ]:
Name[-3::]

In [ ]:
# Get every second element in the range from index 0 to index 4

Name[0:5:2]

<h3 id="concat">Concatenate Strings</h3>

We can concatenate or combine strings by using the addition symbols, and the result is a new string that is a combination of both:

In [ ]:
# Concatenate two strings

Statement = Name + " is the best"
Statement

In [ ]:
Name[:7]+" is Best in dance"

To replicate values of a string we simply multiply the string by the number of times we would like to replicate it. In this case, the number is three. The result is a new string, and this new string consists of three copies of the original string:

In [ ]:
# Print the string for 3 times

3 * "Michael Jackson"

You can create a new string by setting it to the original variable. Concatenated  with a new string, the result is a new string that changes from Michael Jackson to â€œMichael Jackson is the best".

In [ ]:
# Concatenate strings

Name = "Michael Jackson"
Name = Name + " is the best"
Name*3

<hr>

<h2 id="escape">Escape Sequences</h2>

Back slashes represent the beginning  of escape sequences. Escape sequences represent strings that may be difficult to input. For example, back slash "n" represents a new line. The output is given by a new line after the back slash "n" is encountered:

In [ ]:
# New line escape sequence

print(" Michael Jackson \n is the best" )

Similarly, back slash  "t" represents a tab:

In [ ]:
# Tab escape sequence
print(" Michael Jackson \t is the best" )

In [ ]:
a = "Hello\t world"
a.expandtabs(20)

In [ ]:
# Vertical Tab escape sequence

print(" Michael Jackson \v is the best" )

In [ ]:
ord('\x48'),ord('\x45')

In [ ]:
chr(72),chr(69)

In [ ]:
# Hex Decimal Values 

print("This is \x48\x45\x58 representation")

 If you want to place a back slash in your string, use a double back slash:

In [ ]:
# Include back slash in string

print(" Michael Jackson \\ is the best" )

 We can also place an "r" before the string to display the backslash:

In [ ]:
# r will tell python that string will be display as raw string

print(r" Michael Jackson \ is the best" )

In [ ]:
print(" Michael Jackson \' is the best" )

In [ ]:
print(" Michael Jackson \" is the best" )

In [ ]:
"Hello world Welocome to python Class's"

In [ ]:
'Hello world Welocome to python Class's'

In [ ]:
pi = 3.14
print("Pi value in math is ",pi)
print("Pi value is: " + str(pi))

In [ ]:
str(pi)

In [ ]:
Name = "Hello Welcome to Python Class's"
print(Name)

In [ ]:
Name = 'Hello Welcome to Python Class's'

#### Input ()

`input` is Built in Funcation which will take Input as **String** by Default

In [ ]:
a = input("Enter the Data:")    # STDIN(SYSTEM INPUT)

In [ ]:
print(a,'\n',type(a))                        # STDOUT(SYSTEM OUTPUT)

In [ ]:
b = int(input("Enter the Interger Data:"))
print(b)

In [ ]:
type(b)

In [ ]:
print(float(b))

In [ ]:
a = input()
type(a)

In [ ]:
int(a),float(a),complex(a)

In [ ]:
a,b = map(int,input("Enter the Data:").split(' '))
print(a,b)

In [ ]:
a

In [ ]:
b

In [ ]:
"Hello World Welcome to python Class".split(' ')

<hr>

<h2 id="operations">String Operations</h2>

There are many string operation methods in Python that can be used to manipulate the data. We are going to use some basic string operations on the data.

Let's try with the method <code>upper</code>; this method converts lower case characters to upper case characters:

In [ ]:
# Convert all the characters in string to upper case

A = "Thriller is the sixth Studio Album"
print("before upper:", A)

In [ ]:
B = A.upper()
print("After upper:", B)

In [ ]:
"before upper: Thriller is the s\txth Studio Album".upper()

The method <code>replace</code> replaces a segment of the string, i.e. a substring  with a new string. We input the part of the string we would like to change. The second argument is what we would like to exchange the segment with, and the result is a new string with the segment changed:

In [ ]:
# Replace the old substring with the new target substring is the segment has been found in the string

A = "Michael Jackson is the best Michael"
B = A.replace('Michael', 'Mike')
B

In [ ]:
a = "Python"
a.replace('P','c')

The method <code>find</code> finds a sub-string. The argument is the substring you would like to find, and the output is the first index of the sequence. We can find the sub-string <code>jack</code> or <code>el<code>.

<img src="https://s3-api.us-geo.objectstorage.softlayer.net/cf-courses-data/CognitiveClass/PY0101EN/Chapter%201/Images/StringsFind.png" width="600" align="center" />

In [ ]:
# Find the substring in the string. Only the index of the first elment of substring in string will be the output

Name = "Michael Jackson"
Name.find('el')

In [ ]:
# Find the substring in the string.

Name.find('Jack')

If the  sub-string is not in the string then the output is a negative one. For example, the string 'Jasdfasdasdf' is not a substring:

In [ ]:
# If cannot find the substring in the string

Name.find('Jasdfasdasdf')

In [ ]:
A = "Hello \t world"
A.expandtabs(50)

In [ ]:
A.count('l')

In [ ]:
'name'.capitalize()

In [30]:
Name

'Michael Jackson'

In [31]:
Name.startswith('m')

False

In [32]:
Name.startswith('M')

True

In [33]:
Name.endswith('n')

True

In [34]:
Name.endswith('N')

False

In [35]:
Name.index('M')

0

In [36]:
"Hello".index('lo')

3

In [37]:
e = input("Enter the Name:")
'Hi {}'.format(e)

Enter the Name: Reddy

'Hi Reddy'

In [38]:
print("The {} Best Singer Name is {} ".format(A,Name))

The Hello 	 world Best Singer Name is Michael Jackson

In [42]:
print("The Left Alignment is |{0:<6}| and Center Alignement is |{1:^6}| and Right Alignment is |{2:>6}|".format(10,10,10))

The Left Alignment is |10    | and Center Alignement is |  10  | and Right Alignment is |    10|

In [43]:
"The Binary Number is |{0:b}| and Oct is |{0:o}| and Hex is |{2:x}|".format(2,10,10)

'The Binary Number is |10| and Oct is |2| and Hex is |a|'

In [44]:
'{0!s} {0!r}'.format("Hello world")

"Hello world 'Hello world'"

In [45]:
'{:10}'.format("test")

'test      '

In [46]:
'{:<10}'.format("test")

'test      '

In [47]:
'{:_<10}'.format("test")

'test______'

In [49]:
'{:_^9}'.format("ZIP")

'___ZIP___'

In [50]:
'%.6s' %('xylophone')  # old Techniq

'xyloph'

In [52]:
'{:.2}'.format('xylophone') # new Techniq

'xy'

#### Numbers For Formating

In [53]:
'{:d}'.format(42)

'42'

In [54]:
'{:f}'.format(3.25)

'3.250000'

In [55]:
'{:3d}'.format(42)

' 42'

In [56]:
'{:07.3f}'.format(3.25)

'003.250'

In [57]:
Name.lower()

'michael jackson'

In [58]:
Name.center(25)

'     Michael Jackson     '

In [60]:
Name.split(' ')

['Michael', 'Jackson']

In [64]:
fill = '*'
size = 20
Name.ljust(size,fill)

'Michael Jackson*****'

In [67]:
Name.zfill(20)

'00000Michael Jackson'

In [73]:
'Hello'.isalpha()

True

In [74]:
'123'.isalpha()

False

In [75]:
"Hello123".isdigit()

False

In [77]:
'123'.isdigit()

True

In [79]:
"123hello".isalnum()

True

In [80]:
'123'.isnumeric()

True

<hr>

<h2 id="quiz">Quiz on Strings</h2>

What is the value of the variable <code>A</code> after the following code is executed?

In [ ]:
# Write your code below and press Shift+Enter to execute

Double-click <b>here</b> for the solution.

<!-- Your answer is below:
"1"
-->

What is the value of the variable <code>B</code> after the following code is executed?

In [ ]:
# Write your code below and press Shift+Enter to execute

Double-click <b>here</b> for the solution.

<!-- Your answer is below:
"2"
-->

What is the value of the variable <code>C</code> after the following code is executed?

In [ ]:
# Write your code below and press Shift+Enter to execute

Double-click <b>here</b> for the solution.

<!-- Your answer is below:
"12"
-->

<hr>

Consider the variable <code>D = "HEllO"</code> use slicing to print out the first three elements:

In [ ]:
# Write your code below and press Shift+Enter to execute

Double-click <b>here</b> for the solution.

<!-- Your answer is below:
print(D[:3]) 
# or 
print(D[0:3])
-->

<hr>

Use a stride value of 2 to print out every second character of the string <code>E = "Hello World"</code>:

In [ ]:
# Write your code below and press Shift+Enter to execute

Double-click <b>here</b> for the solution.

<!-- Your answer is below:
print(E[::2])
-->

<hr>

Print out a backslash:

In [ ]:
# Write your code below and press Shift+Enter to execute

Double-click <b>here</b> for the solution.
<!-- Your answer is below:
print("\\")
or
print(r" \ ")
-->

<hr>

Find the `You` how many time Repreted in the Given String 


Data = "The World is Looking for you \n to update your Skils"

In [ ]:
# Write your code below and press Shift+Enter to execute

<hr>

Convert the variable <code>F = "hello"</code> to uppercase:

In [ ]:
# Write your code below and press Shift+Enter to execute

Double-click <b>here</b> for the solution.

<!-- Your answer is below:
F.upper()
-->

<hr>

Consider the variable <code>G</code>, and find the first index of the sub-string <code>snow</code>:

In [ ]:
# Write your code below and press Shift+Enter to execute

Double-click __here__ for the solution.

<!-- Your answer is below:
G.find("snow")
-->

In the variable <code>G</code>, replace the sub-string <code>Mary</code> with <code>Bob</code>:

In [ ]:
# Write your code below and press Shift+Enter to execute

Double-click __here__ for the solution.

<!-- Your answer is below:
G.replace("Mary", "Bob")
-->

<hr>
<p>Copyright &copy; MIT License</a>.
<a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/"><img alt="Creative Commons License" style="border-width:0" src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png" /></a><br />This work is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a>.</p>